.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #efd82d;
}

.Button {
  border-radius: 3px;
  border-color: #282c34;
  background-color: burlywood;
  margin-right: 20px;
}

.Button-Group {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.forceChartContainer {
  background-color: white;
}

.forcePlate-Container {
  margin-bottom: 100px;
}
.tindeq-Container {
  margin-bottom: 100px;
}
.movesense-Container {
  margin-bottom: 100px;
}

.header {
  font-size: x-large;
  font-weight: 600;
}

.card canvas {
  width: 500px;
  height: 400px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
